server {
    listen       ${NGINX_PORT};
    server_name  ${NGINX_HOST};
    access_log  /var/log/nginx/access.log  main;

    # serve static files
    location / {
      root            /usr/share/nginx/html;
      index           index.html index.htm;
      try_files       $uri  $uri/ /index.html;
    }
}